@import url("./reset.css");
@import url("./fonts.css");
@import url("./variables.css");
@import url("./react-simple-image-viewer-override.css");

:root {
  font-family: "Inter", sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-main-rgba);
  background-color: var(--color-white-rgba);

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
