.locationWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationLabel {
  color: var(--color-gray-rgba);
}

.locationInputWrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-inputs-rgba);
  border-radius: 12px;
  padding: 18px;
  margin-bottom: 40px;
}

.locationIcon {
  margin-right: 8px;
  flex-shrink: 0;
  color: #475467;
}

.locationInput {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: var(--color-main-rgba);
  width: 100%;
}

.locationInput::placeholder {
  color: var(--color-gray-rgba);
}
