.header {
  background-color: var(--color-inputs-rgba);
  border-bottom: 1px solid var(--color-badges-rgba);
  padding: 24px 0;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.navLogo {
  display: flex;
  align-items: center;
  position: absolute;
  width: 132px;
  height: 20px;
}

.navLink {
  font-weight: 500;
}

.activeNavLink {
  color: var(--color-button-hover-rgba);
}
