.loadMore {
  color: var(--color-main-rgba);
  background-color: transparent;
  border: 1px solid var(--color-gray-ligth-rgba);
  margin: 0 auto;
  transition: border-color 0.3s ease;
}

.loadMore:hover,
.loadMore:focus,
.loadMore:active {
  border-color: var(--color-button-hover-rgba);
  background-color: transparent;
}

.hidden {
  display: none;
}
